<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/colors.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/highlight.css' | relative_url }}">
{% if site.crust_tastic.addons %}
  {% include addons/css_load.html %}
{% endif %}
