#header_menu {
  display: inline-block;
  position: relative
}
#header_menu .icon {
  font-size: 3em;
}
#header_menu_dialogue {
  float: right;
  display: none;
  position: absolute;
  overflow: auto;
  right: 0;
  border: 2px solid var(--primary-invert);
  border-radius: 7px;
  padding: 0.5em;
  width: 40em;
  max-width: 70vw;
}
{% if site.crust_tastic.addons.header_menu.google_search %}
  {% include addons/css/header_menu/google_search.css %}
{% endif %}
{% if site.crust_tastic.addons.header_menu.navigation %}
  {% include addons/css/header_menu/navigation.css %}
{% endif %}
