<script type="text/javascript" src="{{ '/assets/js/addons.js' | relative_url }}"></script>
{% if site.crust_tastic.addons.google_translate %}
  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% endif %}
{% if site.crust_tastic.addons.gtag %}
  <script type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id={{ site.crust_tastic.gtag }}"></script>
{% endif %}
{% if site.crust_tastic.addons.header_menu.google_search %}
  <script type="text/javascript" src="https://cse.google.com/cse.js?cx={{ site.crust_tastic.addons.header_menu.google_search }}"></script>
{% endif %}
