<div class="container">
  <footer id="main_footer" class="headings">
    {% if site.navigation == 'subfolder' %}
      {% include footer/navigation_subfolder.html %}
    {% elsif site.navigation %}
      {% include footer/navigation.html %}
    {% endif %}
    {% if site.navigation %}
      <br>
    {% endif %}
    {% if site.github_info %}
      {% include footer/github_links.html %}
    {% endif %}
    <br>
    {% if site.gtranslate %}
      {% include footer/google_translate_element.html %}
    {% endif %}
  </footer>
</div>
