// Variables
@import "stock/variables";

// Body
body {
  color: var(--primary-invert);
  background-color: var(--secondary);
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
  font-size: $font-size;
  * {
    max-width: 100%;
    max-height: 100%;
  }
}

// Containerization
.container {
  width: $container-width;
  max-width: $max-container-width;
  margin: 1.92em auto;
}

#main_content {
  section {
    margin: 0.5em 0;
  }
}

// Links
a:link, a:hover, a:active {
  color: var(--active);
}

a:visited {
  color: var(--inactive);
}

// List
ul, ol {
  li {
    line-height: 1.2em;
  }
}

nav a {
  margin: 0 3px;
}

// Headings
.headings {
  a {
    color: var(--primary-invert);
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-invert);
  font-weight: bold;
  margin: 0 auto;
}

h1 {
  font-size: 2em; 
}

h2 {
  font-size: 1.5em; 
}

h3 {
  font-size: 1.17em; 
}

h4 {
  font-size: 1.12em; 
}

h5 {
  font-size: .83em; 
}

h6 {
  font-size: .75em; 
}

// Tables
table {
  text-align: left;
}

th {
  font-weight: bold;
  border-bottom: 1px dashed;
}

th, td {
  padding: 5px 10px;
}

// Divides
hr {
  height: 0;
  border: 1px dashed;
}

// Pre & Highlighting Junk
blockquote {
  padding-left: 1em;
  border-left: 3px solid var(--primary-invert);
}

pre {
  border: 2px solid;
  padding: 10px;
  overflow-x: auto;
}

code {
  color: var(--secondary-invert);
}

// Navigation
#main_footer * {
  display: inline-block;
}

// Buttons
.button, button {
  padding: 0.75em 1.2em;
  border-radius: 50px;
  border: 2px solid;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.icon {
  fill: var(--primary-invert);
  display: block;
  width: 1em;
  height: 1em;
  margin-right: 0.3em; 
}

// iFrame Wrapper
.iframe-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 75%;
  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
  }
}

// Google Translate
#google_translate_element_wrapper {
  width: 50em;
  max-width: 50%;
}
