// Elements
$font-size: 15px; // Font Size
$container-width: 85vw; // Width of the main content containers
$max-container-width: 1300px; // Maximum width of the main content containers

// Colors (For dark mode, primary and secondary are inverted.)
$primary: white; // Primary color: Inverse is used for text
$secondary: #ddd; // Secondary color: Used for background
$active: blue; // Used for links and other interative elements
$inactive: purple; // Used for links and other interactive elements that have already been interacted with

// Custom
@import "custom/variables";
