// Colors
:root {
  --primary: white;
  --primary-invert: black;
  --secondary: lightgrey;
  --secondary-invert: #222;
  --active: #5b84c8;
  --active-invert: blue;
}

@media (prefers-color-scheme: dark) {
  :root {
      --primary: black;
      --primary-invert: white;
      --secondary: #222;
      --secondary-invert: lightgrey;
      --active: blue;
      --active-invert: #5b84c8;
  }
}
