// Colors
:root {
  --primary: white;
  --primary-invert: black;
  --secondary: #CCC;
  --secondary-invert: #1C1C1C;
  --active: blue;
  --active-invert: purple;
}
body {
  scrollbar-color: light;
}

@media (prefers-color-scheme: dark) {
  :root {
      --primary: black;
      --primary-invert: white;
      --secondary: #1C1C1C;
      --secondary-invert: #CCC;
      --active: blue;
      --active-invert: purple;
  }
  body {
    scrollbar-color: dark;
  }
}
