// Imports
@import "github-highlight";

// Dark Mode Support
:root {
    --primary: white;
    --primary-invert: black;
    --secondary: lightgrey;
    --secondary-invert: #222;
    --active: blue;
    --active-invert: lightblue;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: black;
        --primary-invert: white;
        --secondary: #222;
        --secondary-invert: lightgrey;
        --active: lightblue;
        --active-invert: blue;
    }
}

// Body
body {
    font-size: 16px;
    line-height: 1.5;
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--secondary-invert);
    background-color: var(--secondary);
}

// Container
.container {
    width: 75%;
    max-width: 1200px;
    margin: 25px auto;
    * {
        max-width: 100%;
    }
}

#main_content {
    section {
        margin: 10px 0;
    }
    a:link, a:visited {
        color: var(--active-invert);
    }
    a:hover, a:active {
        color: var(--active);
    }
}

// List
ul, ol {
    margin: 3;
    padding: 0;
    li {
        line-height: 1.4;
        margin: 0 3;
    }
}

// Headings
.headings, .headings * {
    a:link, a:visited, a:hover, a:active {
        color: var(--primary-invert);
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-invert);
    font-weight: bold;
    letter-spacing: -0.03em;
    margin: 0 auto;
}

h1 {
    line-height: 1.5;
}

h2 {
    font-size: 18px;
}

// Tables
dt {
    font-style: italic;
    font-weight: bold;
}

th {
    text-align: left;
    border-bottom: 1px dashed;
    padding: 5px 10px;
}

td {
    padding: 5px 10px;
}

hr {
    height: 0;
    border: 1px dashed;
    margin: 0 0;
}

// Pre-ish
blockquote {
    padding-left: 10px;
    border-left: 1px dashed;
}

pre {
    border: 1px solid;
    padding: 10px;
    font-size: 16px;
    border-radius: 2px;
    word-wrap: normal;
    overflow: auto;
    overflow-y: hidden;
}

// Navigation
#main_footer, #main_footer * {
    display: inline-block;
    li {
        margin-right: 5px;
    }
}

#github_logo {
    fill: var(--primary-invert);
}

// Buttons
.button, button {
    padding: 8px 18px;
    border-radius: 50px;
    border: 2px solid;
    border-bottom: 2px solid;
    border-top: 2px solid;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    text-shadow: 0 -1px 0;
    box-shadow: inset 0 1px 0;
    .icon {
        display: block;
        width: 16px;
        height: 16px;
        margin: 1px 8px 0 0;
        float: left;
    }
}
