<link rel="apple-touch-icon" sizes="180x180" href="{{ site.crust_tastic.favicon | relative_url | append: '/apple-touch-icon.png' }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.crust_tastic.favicon | relative_url | append: '/favicon-32x32.png' }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.crust_tastic.favicon | relative_url | append: '/favicon-16x16.png' }}">  
<link rel="manifest" href="{{ site.crust_tastic.favicon | relative_url | append: '/site.webmanifest' }}">
<link rel="shortcut icon" href="{{ site.crust_tastic.favicon | relative_url | append: '/favicon.ico' }}">
<meta name="msapplication-config" content="{{ site.crust_tastica.favicon | relative_url | append: '/browserconfig.xml' }}">
