---
layout: head
---

<div class="container">
  <header id="main_header" class="headings">
    <section id="title">
      <a href="{{ '/' | relative_url }}"><h1>{{ site.title | default: site.github.repository_name }}</h1></a>
        {% if site.github_info %}
          <div id="github_desc">
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>
          </div>
        {% endif %}
    </section>
  </header>
</div>
<hr>
<div class="container">
  <section id="main_content">
    {{ content }}
  </section>
</div>
<hr>
<div class="container">
  <footer id="main_footer" class="headings">
    {% if site.navigation == 'subfolder' %}
      <section id="navigation">
        <h4>{{ site.data.navigation.list_title }}</h4>
        {% for item in site.data.navigation.entries %}
          <br>
          <h5>{{ item.title }}</h5>
          <ul>
            {% for entry in item.subfolderitems %}
              <li><a href="{{ item.url }}" class="button">{{ item.page }}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </section>
    {% elsif site.navigation %}
      <section id="navigation">
        <h4>{{ site.data.navigation.list_title }}</h4>
        <ul>
          {% for item in site.data.navigation.entries %}
            <li><a href="{{ item.url }}" class="button">{{ item.page }}</a></li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
    {% if site.github_info %}
      <br>
      <section id="github_links">
        <h4>View this site on GitHub</h4>
        <a href="{{ site.github.repository_url }}" class="button"><img alt="GitHub Logo" src="{{ '/assets/images/GitHub-Mark-120px-plus.png' | relative_url }}"> View on GitHub</a>
      </section>
    {% endif %}
  </footer>
</div>
