<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' |  relative_url }}">
    {% if site.favicon %}
      <div id="favicon">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.favicon |  relative_url | append: '/apple-touch-icon.png' }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.favicon |  relative_url | append: '/favicon-32x32.png' }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.favicon |  relative_url | append: '/favicon-16x16.png' }}">  
        <link rel="manifest" href="{{ site.favicon |  relative_url | append: '/site.webmanifest' }}">
        <link rel="shortcut icon" href="{{ site.favicon |  relative_url | append: '/favicon.ico' }}">
        <meta name="msapplication-config" content="{{ site.favicon |  relative_url | append: '/browserconfig.xml' }}">
      </div>
    {% endif %}
    <div id="seo">
      {% seo %}
    </div>
    {% if site.gtag %}
      <div id="gtag">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.gtag }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{{ site.gtag }}');
        </script>
      </div>
    {% endif %}
  </head>
  <body>
    {{ content }}
  </body>
</html>
